<div class="bg-gray-100 font-sans w-full m-0">
  <div class="bg-white">
    <div class="container mx-auto px-4">
      <div class="flex items-center justify-between py-2">
        <div class="hidden sm:flex sm:items-center">
          <a routerLink="/home" routerLinkActive="bg-red-400" class="text-gray-800 text-sm font-semibold no-underline hover:text-purple-600 mr-4">Home</a>
          <a routerLink="/about-us"  routerLinkActive="bg-red-400 " class="text-gray-800 text-sm font-semibold no-underline hover:text-purple-600 mr-4">About us</a>
          <a routerLink="/login"  routerLinkActive="bg-red-400 " class="text-gray-800 text-sm font-semibold no-underline hover:text-purple-600 mr-4">Login</a>
          <a routerLink="/order"  routerLinkActive="bg-red-400" class="text-gray-800 text-sm font-semibold no-underline hover:text-purple-600 mr-4">Order</a>
        </div>
    </div>
  </div>
</div>
