<nav class="shadow mb-4">
  <div>
    <ul class="flex justify-center py-2">
      <li class="mx-5 py-2">
        <a routerLink="/home">Home</a>
      </li>
      <li class="mx-5 py-2">
        <a routerLink="/about-us">About us</a>
      </li>
      <li class="mx-5 py-2">
        <a routerLink="/order">Products</a>
      </li>
      @if (!isLoggedIn()) {
        <li class="mx-5 py-2">
          <a routerLink="/login">Login</a>
        </li>
      } @else {
          <li class="mx-5 py-2">
          <a routerLink="/login">Logout</a>
        </li>
      }
    </ul>
  </div>
</nav>
