<h2 #header>order price is : {{orderPrice}}</h2>
<div class="mb-3 mx-auto w-50" >
  <label for="" class="form-label">Category</label>
  <select class="form-select form-select-lg" name="" id="" [(ngModel)]="selectedCatId">
   <option value="0">All</option>
    @for (cat of categories; track cat.id) {
      <option [value]="cat.id">{{ cat.name }}</option>
    }
  </select>
</div>


<h1 #header>------------------  Child component--------------------</h1>
<app-products-list [sentCatId]="selectedCatId" (onTotalOrderPriceChanged)="setOrderPrice($event)"></app-products-list>
